.scanner div:first-child {
  border: 60px solid rgba(0, 0, 0, 0.6) !important;
  box-shadow: rgb(61, 135, 237) 0px 0px 0px 5px inset !important;
}

.scanner.success div:first-child {
  border: 60px solid rgba(0, 0, 0, 0.6) !important;
  box-shadow: rgb(80, 200, 120) 0px 0px 0px 5px inset !important;
}

.scanner.error div:first-child {
  border: 60px solid rgba(0, 0, 0, 0.6) !important;
  box-shadow: rgb(255, 0, 0) 0px 0px 0px 5px inset !important;
}
