.toolWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: hsl(var(--background));
  padding: 12px;
  border-radius: 99px;
  box-shadow: 0px 10px 24px 0px rgba(22, 22, 22, 0.1);
  width: 84px;
  transition: width 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transform-origin: 0% 50%;
}
.toolWrapper.animate {
  width: 172px;
}
.circleButton {
  padding: 10px;
  background-color: hsl(var(--lighter));
  border-radius: 99px;
  color: hsl(var(--primary));
}
.circleButton:hover {
  background-color: hsl(var(--secondary));
}
.circleButton.big {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleButton:active {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
}

.scroll {
  position: absolute;
  z-index: -1;
}
