.rich-text-view.right {
  @apply text-white;
}

.rich-text-view {
  @apply text-neutral-800 dark:text-neutral-50;
}

.rich-text-view .mention {
  @apply bg-primary-200 text-primary;
}

.rich-text-view .mention {
  @apply rounded-sm  bg-primary-200 px-0.5 hover:opacity-90;
}

.rich-text-view.right .mention {
  @apply bg-primary-600 text-current;
}

.rich-text-view .mention.me {
  @apply text-neutral-900;
}
.rich-text-view.right .mention.me {
  @apply text-current;
}

.rich-text-view-view.right a {
  @apply font-normal text-current underline hover:opacity-90;
}

code:before,
code:after {
  content: none !important;
}
code {
  @apply rounded border bg-primary-200 px-1 py-0.5 !text-primary;
}
